.action {
  background-color: $color-dark-blue;
}

.action__item {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.018;
  color: $color-text-blue;
}
