.companion {
  background-color: $color-dark-blue;
  background-image: url("../../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../../img/rogovaya-mobile@2x.jpg");
  }

  margin-top: -30px;
  padding-top: 100px;
  padding-bottom: 30px;
  position: relative;
  z-index: 4;

  &--border-radius {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.companion__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.companion__caption-box {
  padding-left: 25px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.companion__caption {
  font-family: $font;
  font-weight: 700;
  font-style: none;
  line-height: 1;
  font-size: 24px;
  letter-spacing: 0.024px;
  color: $color-caption;

  margin: 0;
}

.companion__text {
  font-family: $font;
  font-weight: 300;
  font-style: normal;
  line-height: 1.38;
  font-size: 16px;
  letter-spacing: 0.022px;
  color: $color-white;
  margin-top: 20px;
  margin-bottom: 0;
  width: 216px;
}

.companion__article {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1.38;
  font-size: 16px;
  letter-spacing: 0.022px;
  color: $color-white;
  margin-top: 21px;
}

.companion__list {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 41px;
}

.companion__item {
  list-style: none;
  margin-bottom: 10px;
}

.companion__item-info {
  width: 270px;
  height: 270px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  &--firsova {
    background-image: url("../../img/firsova-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &--demin {
    background-image: url("../../img/demin-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.companion__item-info--firsova {

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../../img/firsova-mobile@2x.jpg");
  }
}

.companion__item-info--demin {

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../../img/demin-mobile@2x.jpg");
  }
}

.companion__level-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 50%;
  border: 2px solid $color-caption;
  padding: 9px 4px 0px 3px;
  max-height: 60px;
  background-color: $color-bac-black;
  margin-top: 18px;
  margin-left: 16px;
}

.companion__level-number {
  margin: 0;
  font-family: $font;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.024px;
  text-align: center;
  color: $color-white;
  width: 100%;
  margin-bottom: -6px;
  margin-left: -5px;
}

.companion__level {
  margin: 0;
  font-family: $font;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.014px;
  text-align: center;
  color: $color-white;
  width: 29px;

  border-top: 1px solid $color-white;
}

.companion__link {
  background-color: $color-yellow;
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  font-size: 18px;
  letter-spacing: 0.018px;
  color: $color-btn;
  text-decoration: none;

  width: 270px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &--border-radius {
    border-radius: 10px;
  }
}

.companion__link-svg {
  polygon {
    fill: $color-btn;
  }
}

@media (min-width: 768px) {

  .companion {
    background-image: url("../../img/rogovaya-tablet@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/rogovaya-tablet@2x.jpg");
    }
  }

  .companion__caption {
    width: 100%;
    font-size: 45px;
  }

  .companion__box {
    justify-content: space-between;
  }

  .companion__text {
    width: 423px;
    font-size: 28px;
  }

  .companion__article {
    width: 258px;
  }

  .companion__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .companion__item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .companion__item-info {
    width: 285px;
    height: 285px;

    &--firsova {
      background-image: url("../../img/firsova-tablet@1x.jpg");
    }

    &--demin {
      background-image: url("../../img/demin-tablet@1x.jpg");
    }
  }

  .companion__item-info--firsova {

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/firsova-tablet@2x.jpg");
    }
  }

  .companion__item-info--demin {

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/demin-tablet@2x.jpg");
    }
  }

  .companion__link {
    width: 618px;
    font-size: 24px;
    margin-top: 80px;
  }
}

@media (min-width: 1440px) {
  .companion__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 132px;
    padding-right: 0;
  }

  .companion__caption-box {
    width: 423px;
    margin-bottom: 87px;
    align-items: stretch;
  }

  .companion__caption {
    width: 100%;
  }

  .companion__text {
    width: 100%;
  }

  .companion__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .companion__item {
    margin-left: 10px;
  }

  .companion__item-info {
    width: 285px;
    height: 285px;
    margin-right: 60px;

    &--firsova {
      background-image: url("../../img/firsova-tablet@1x.jpg");
    }

    &--demin {
      background-image: url("../../img/demin-tablet@1x.jpg");
    }
  }

  .companion__link {
    width: 280px;
    margin-top: 0;
  }
}
