.direction-about {
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 270px;
  padding-left: 23px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-top: -10px;
  z-index: 2;
  position: relative;

  &--border-radius {
    border-radius: 10px;
  }
}

.direction-about__caption {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  font-size: 21px;
  letter-spacing: 0.021px;
  color: $color-text-blue;

  margin: 0;
}

.direction-about__like {
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.03px;
  color: $color-text-contry;
}

.direction-about__text {
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.03px;
  color: $color-text-contry;
  margin: 0;
}

@media (min-width: 768px) {
  .direction-about {
    width: 430px;
    justify-content: space-between;
    padding-top: 35px;
    margin-top: 0;

    &--border-radius {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .direction-about__caption {
    width: 100%;
  }

  .direction-about__like {
    order: 1;
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .direction-about {
    width: 430px;
    justify-content: space-between;

    &--border-radius {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .direction-about__caption {
    width: 100%;
  }

  .direction-about__like {
    order: 1;
    width: 100%;
  }
}
