.direction-about {
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 270px;
  padding-left: 23px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 33px;
  margin-top: -14px;
  z-index: 2;
  position: relative;

  &--border-radius {
    border-radius: 10px;
  }
}

.direction-about__contry {
  display: block;
  width: 35px;
  height: 24px;
  position: absolute;
  top: -12px;
  left: 24px;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  &--tailand {
    background-image: url("../../img/flag-thailand.svg");
  }

  &--france {
    background-image: url("../../img/flag-france.svg");
  }

  &--czech {
    background-image: url("../../img/flag-czech.svg");
  }
}

.direction-about__caption {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  font-size: 21px;
  letter-spacing: 0.021px;
  color: $color-text-blue;

  margin: 0;
}

.direction-about__like {
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.03px;
  color: $color-text-contry;
}

.direction-about__like-svg {

  polygon {
    fill: $bac-color-bissenes;
  }
}

.direction-about__text {
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.03px;
  line-height: 0;
  color: $color-text-contry;
  margin-bottom: 0;
  margin-top: 2px;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .direction-about {
    width: 430px;
    justify-content: space-between;
    padding-top: 35px;
    margin-top: 0;

    &--border-radius {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .direction-about__caption {
    width: 100%;
  }

  .direction-about__like {
    order: 1;
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .direction-about {
    width: 430px;
    justify-content: space-between;

    &--border-radius {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .direction-about__caption {
    width: 100%;
  }

  .direction-about__like {
    order: 1;
    width: 100%;
  }
}
