.filter {
  background-color: $color-filter;
}

.filter__caption {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1.38;
  font-size: 16px;
  letter-spacing: 0.022;
  text-transform: uppercase;
  color: $color-dark-blue;
}

.filter__link {
  text-transform: uppercase;
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1.79;
  font-size: 16.5px;
  letter-spacing: 0.029;
  color: $color-text-blue;
}
