.header {
  background-color: $color-text-blue;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 25px;
  position: relative;
}

.header__box {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.header__logo {
  display: block;
  width: 100px;
  height: 19px;
  background-image: url("../../img/logo-mobile-white@1x.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.header__menu {
  display: block;
  width: 25px;
  height: 3px;
  background-color: $color-white;
  box-shadow: 0 5px 0 0 $color-white;
}

@media (min-width: 768px) {
  .header {
    padding-top: 30px;
  }

  .header__logo {
    width: 198px;
    height: 53px;
    background-image: url("../../img/logo-tablet-white@1x.png");
  }
}

@media (min-width: 1440px) {
  .header {
    padding-top: 44px;
  }

  .header__logo {
    background-image: url("../../img/logo-desktop-white@1x.png");
  }
}
