.header-form {
  background-color: $color-text-blue;
  padding-top: 59px;
  padding-bottom: 12px;
  &--border-radius {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}


.header-form__caption {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1.11;
  font-size: 36px;
  letter-spacing: 0.039;
  color: $color-white;

  margin: 0;
}
