.info__item a {
  font-family: $font;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: 0.022px;
  text-transform: uppercase;
  color: $color-dark-blue;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.info__item {
  width: 100%;
}

.info__item-svg-box {
  display: block;
  width: 45px;
  height: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: $color-blue-link;
  border-radius: 50%;
  margin-right: 15px;
}

.info__item-svg {
    margin-top: 10px;
    margin-left: 8px;

  polygon {
    fill: $color-yellow;
  }
}

@media (min-width: 768px) {
  .info__item a {
    font-size: 28px;
  }

  .info__item {
    padding-left: 61px;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .info__item a {
    display: none;
  }

  .info__item {

    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      background-color: $color-caption;
      position: absolute;
      top: 0;
      right: 50px;
      border-radius: 50%;
    }
  }

  .info__item:last-child {
    &::before {
      right: 0;
      background-color: $color-add-2;
    }
  }
}
