.main-footer {
  background-color: $color-yellow;
  position: relative;
  z-index: 1;
  margin-top: -19px;
  padding-bottom: 35px;

  &--border-radius {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.main-footer__box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 33px;
}

.main-footer__adress {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1.38;
  font-size: 16px;
  letter-spacing: 0.022px;
  color: $color-dark-blue;
  text-transform: uppercase;
  width: 210px;
  padding-left: 61px;
  position: relative;
}

.main-footer__adress-box {
  background-color: $color-blue-link;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  text-align: center;
}

span.main-footer__adress-box svg {
  position: relative;
  top: 10px;

  polygon {
    fill: $color-yellow;
  }
}

.main-footer__adress-map {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  font-size: 18px;
  letter-spacing: 0.018px;
  color: $color-dark-blue;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: 3px solid $color-dark-blue;
  border-radius: 10px;
  padding-top: 16px;
  padding-bottom: 19px;
  padding-left: 20px;
  padding-right: 23px;
  width: 270px;
  margin-top: 34px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 768px) {
  .main-footer__box {
    justify-content: flex-start;
  }

  .main-footer__adress {
    width: 525px;
    font-size: 28px;
  }

  .main-footer__adress-map {
    width: 618px;
  }
}

@media (min-width: 1440px) {
  .main-footer__box {
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__adress {
    padding-left: 110px;
    width: 551px;

    &::before {
      width: 90px;
      height: 90px;
      top: -30px;
    }
  }

  .main-footer__adress-map {
    width: 324px;
    border-radius: 20px;
    margin-top: 0;
    font-size: 24px;
  }
}
