.main-header {
  background-color: $color-text-blue;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 432px;
  width: 100%;
  padding-top: 35px;
}

.main-header__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-header__caption {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1.11;
  font-size: 36px;
  color: $color-white;

  text-align: center;
  width: 238px;
  margin-top: 10px;
  margin-bottom: 0;

  &::after {
    content: "";
    width: 192px;
    height: 255px;
    display: block;
    background-image: url("../../img/traveller-illustration-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-top: 15px;
    margin-left: 39px;
  }
}

.main-header__list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  align-items: center;
  margin-top: -20px;
}

.main-header__item a {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1.76;
  font-size: 17px;
  letter-spacing: 0.029px;
  text-transform: uppercase;
  color: $color-text-blue;
}

.main-header__phone {
  display: block;
  width: 40px;
  height: 40px;
  background-color: $color-caption;
  border-radius: 50%;
  background-image: url("../../img/topmenu-phone.svg");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
}

.main-header__email {
  display: block;
  width: 40px;
  height: 40px;
  background-color: $color-add-2;
  border-radius: 50%;
  background-image: url("../../img/topmenu-mail.svg");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
}

.main-header__autorization {
  display: block;
  border-radius: 20px;
  padding-top: 7px;
  padding-bottom: 4px;
  text-align: center;
  background-color: $color-yellow;
  width: 189px;
}

.main-header__blockquote {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-top: -6px;
}

.main-header__blockquote-text {
  font-family: $font;
  font-weight: 300;
  font-style: normal;
  line-height: 1.38;
  font-size: 16px;
  letter-spacing: 0.022px;
  color: $color-white;

  width: 149px;
}

.main-header__blockquote-cite {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.022px;
  color: $color-white;

  width: 155px;
}

@media (min-width: 768px) {
  .main-header {
    padding-top: 75px;
  }

  .main-header__caption {
    width: 618px;
  }

  .main-header__blockquote-text {
    width: 100%;
  }

  .main-header__phone {
    display: none;
  }

  .main-header__email {
    display: none;
  }

  .main-header__autorization {
    display: none;
  }
}

@media (min-width: 1440px) {
  .main-header {
    padding-top: 130px;
  }

  .main-header__box {
    justify-content: space-between;
  }

  .main-header__caption {
    width: 396px;
    font-size: 60px;
    text-align: left;
  }

  .main-header__list {
    width: 100%;
    order: -1;
  }

  .main-header__blockquote {
    width: 285px;
    padding-right: 25px;
    padding-left: 0;
  }

  .main-header__blockquote-text {
    font-size: 28px;
  }

  .main-header__blockquote-cite {
    width: 282px;
    font-size: 21px;
  }
}
