.main-footer {
  background-color: $color-yellow;
  position: relative;
  z-index: 0;
  margin-top: -19px;
  padding-bottom: 35px;

  &--border-radius {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.main-footer__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 57px;
}

.main-footer__adress {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1.38;
  font-size: 16px;
  letter-spacing: 0.022px;
  color: $color-dark-blue;
  text-transform: uppercase;
  width: 210px;
  padding-left: 61px;
  position: relative;

  &::before {
    content: "";
    background-color: $color-blue-link;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../img/contacts-location.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
  }
}

.main-footer__adress-map {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  font-size: 18px;
  letter-spacing: 0.018px;
  color: $color-dark-blue;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: 3px solid $color-dark-blue;
  border-radius: 5px;
  padding-top: 24px;
  padding-bottom: 21px;
  padding-left: 24px;
  padding-right: 23px;
  width: 270px;
  margin-top: 35px;
}

@media (min-width: 768px) {
  .main-footer__box {
    justify-content: flex-start;
  }

  .main-footer__adress {
    width: 525px;
    font-size: 28px;
  }

  .main-footer__adress-map {
    width: 618px;
  }
}

@media (min-width: 1440px) {
  .main-footer__box {
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__adress {
    padding-left: 110px;
    width: 551px;

    &::before {
      width: 90px;
      height: 90px;
      top: -30px;
    }
  }

  .main-footer__adress-map {
    width: 324px;
    border-radius: 20px;
    margin-top: 0;
    font-size: 24px;
  }
}
