.nav {
  background-color: $color-white;
  width: 320px;
  padding-top: 27px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav.nav__js {
  position: absolute;
}

.nav--closed {
  display: none;
}

.nav--opened {
  display: flex;
}

.nav__logo {
  display: block;
  width: 96px;
  height: 15px;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../../img/logo-mobile-blue@2x.png");
    background-size: 96px 15px;
  }
}

.nav__close {
  height: 20px;
  border: none;
  width: 20px;
  background-color: $color-white;
  background-image: url("../../img/menu-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 69px;
}

.nav__item a {
  font-family: $font;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.036px;
  color: $color-dark-blue;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link {
  font-family: $font;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  letter-spacing: 0.029px;
  text-decoration: none;
  color: $color-text-blue;
  text-transform: uppercase;

  display: block;
  background-color: $color-yellow;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 270px;
  text-align: center;
  margin-top: 33px;

  &--border-radius {
    border-radius: 32px;
  }
}

.nav__info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  margin-top: 50px;
}

.nav__social.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 16px;
  padding-left: 0;
  width: 100%;
}

.nav__social-item.social__item {
  background-color: transparent;
  width: 37px;

  &:nth-child(2) {
    margin-right: 11px;
  }
}

.nav__social-item-svg {
  polygon {
    fill: $color-nav-social;
  }
}


@media (min-width: 768px) {
  .nav {
    width: 188px;
    padding: 0;
    display: flex;
    background-color: transparent;
  }

  .nav__logo {
    width: 198px;
    height: 46px;
    background-image: url("../../img/logo-tablet-blue@1x.png");
    display: none;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/logo-tablet-blue@2x.png");
      display: none;
    }
  }

  .nav__close {
    display: none;
  }

  .nav__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 99px;
    display: none;
  }

  .nav__item {
    width: 100%;
    display: none;
  }

  .nav__item a {
    font-family: $font;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.036px;
    color: $color-dark-blue;
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav__link {
    position: relative;
    margin: 0;
    padding-bottom: 0;
    padding-right: 0;
    line-height: 1.5;
    letter-spacing: 0.3px;
    height: 50px;
    padding-top: 9px;
    padding-left: 10px;
    font-size: 20px;
  }

  .nav__info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    margin-left: 97px;
    display: none;
  }

  .nav__social.social {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 58px;
    display: none;
  }

  .nav__social-item.social__item {
    background-color: transparent;
  }
}

@media (min-width: 1440px) {
  .nav {
    width: 1440px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 18px;
    justify-content: space-between;
    flex-wrap: wrap;
    left: 0;
    display: none;
  }

  .nav__logo {
    width: 198px;
    height: 46px;
    background-image: url("../../img/logo-desktop-blue@1x.png");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/logo-desktop-blue@2x.png");
    }
  }

  .nav__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    width: auto;
  }

  .nav__item {
    width: auto;
    padding-left: 36px;
  }

  .nav__item a {
    font-size: 20px;
  }

  .nav__link {
    width: 189px;
    position: static;
    order: 1;
  }

  .nav__info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    position: relative;
    margin-left: 397px;
  }

  .nav__social.social {
    display: none;
  }
}
