.plan-add {
  background-color: $bac-dark-gray;
  position: relative;
  z-index: 2;
  padding-top: 30px;
  margin-top: -20px;
  &--border-radius {
    border-radius: 20px;
  }
}

.plan-add__caption {
  font-family: $font;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.024;

  margin: 0;
  width: 100%;
}

.plan-add__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 270px;
}

.plan-add__form {
  width: 270px;
  margin-top: 31px;
}

.plan-add__item {
  background-color: $color-white;
  padding-top: 24px;
  padding-right: 30px;
  padding-left: 25px;
  padding-bottom: 22px;
  margin-bottom: 10px;
  border-radius: 10px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.plan-add__item-step {
  font-family: $font;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.02;
  color: $color-btn;
  margin: 0;
}

.plan-add__item-text {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.022;
  color: $color-text-gray;

  margin-top: 18px;
}

.plan-add__label {
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.016;
  color: $color-btn;
  text-transform: uppercase;

  width: 100%;
  margin-top: 21px;
  &--checkbox {
    font-family: $font;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.015;
    text-transform: unset;
  }
  &--textarea {
    text-transform: unset;
    font-size: 18px;
    margin-bottom: 16px;
  }
}

.plan-add__span {
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.016;
  color: $color-span;
}

.plan-add__button {
  font-family: $font;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.76;
  letter-spacing: 0.029;
  color: $color-text-blue;
  text-transform: uppercase;

  background-color: $color-yellow;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 270px;
  border: none;
  border-radius: 20px;
  margin-top: 23px;
  &--back {
    background-color: $color-white;
  }
}

.plan-add__month {
  font-family: $font;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.02;
  color: $color-span;
}
