.plan {
  background-color: $bac-grey;
  position: relative;
  z-index: 1;
  margin-top: -20px;
  padding-top: 30px;
  padding-bottom: 50px;

  &--border-radius {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.plan__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 270px;
}

.plan__caption {
  font-family: $font;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.024px;
  color: $color-btn;

  margin: 0;
  width: 100%;
  text-align: left;
}

.plan__list {
  padding-left: 0;
  list-style: none;
  margin-top: 34px;
  width: 270px;
}

.plan__item {
  background-color: $color-white;
  border-radius: 10px;
  padding-top: 24px;
  padding-left: 41px;
  padding-right: 41px;
  padding-bottom: 25px;
  margin-bottom: 10px;
}

.plan__item-caption {
  font-family: $font;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.016px;
  color: $color-btn;
  margin-bottom: 21px;
}

.plan__text {
  font-family: $font;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.014px;
  color: $color-btn;
  text-transform: uppercase;
}

.plan__change {
  font-family: $font;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.018px;
  color: $color-black;
  opacity: 0.3;
  text-transform: uppercase;
}


@media (min-width: 768px) {
  .plan {
    padding-top: 58px;
  }

  .plan__box {
    width: 618px;
  }

  .plan__caption {
    font-size: 36px;
  }

  .plan__list {
    width: 618px;
  }

  .plan__item {
    padding: 0;
  }

  .plan__item-caption {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 41px;
    padding-right: 41px;
    margin-bottom: 34px;
  }

  .plan__item-caption span {
    order: 1;
  }

  .plan__text-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid $bac-grey;
    padding-left: 41px;
    padding-right: 41px;
    padding-bottom: 25px;
  }

  .plan__text {
    font-size: 20px;
  }

  .plan__change {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .plan__box {
    width: 1320px;
  }

  .plan__list {
    width: 1320px;
  }

  .plan__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .plan__item-caption {
    font-size: 24px;
  }

  .plan__item-caption span {
    order: 0;
    padding-right: 38px;
  }

  .plan__text-box {
    width: 660px;
    border: none;
  }
}
