.rate-all {
  background-color: $bac-color-bissenes;
  margin-top: 0;
  padding-bottom: 38px;
  width: 250px;
  padding-left: 14px;
}

.rate-all__caption {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  font-size: 24px;
  letter-spacing: 0.024px;
  color: $color-caption;

  margin: 0;
  width: 101px;
  position: relative;
  margin-bottom: 46px;

  &::after {
    content: "";
    display: block;
    width: 99px;
    height: 99px;
    background-image: url("../../img/rates@1x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: -143px;
    top: -11px;
  }
}

.rate-all__caption::after {

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../../img/rates@2x.png");
  }
}

.rate-all__list {
  padding-left: 0;
  margin-top: -5px;
  margin-left: 0;
  margin-bottom: 30px;
  margin-right: 0;
}

.rate-all__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;

  &::after {
    content: "";
    font-family: $font;
    font-weight: 300;
    font-style: normal;
    line-height: 1.38;
    font-size: 16px;
    letter-spacing: 0.022px;
    color: $color-white;
    display: block;
    padding: 5px 12px 5px 12px;
    border-radius: 50%;
    position: absolute;
    right: -7px;
    top: 9px;
  }

  &:first-child::after {
    content: "1";
    background-color: $color-add-3;
  }

  &:nth-child(2)::after {
    content: "2";
    background-color: $color-add-2;
  }

  &:last-child::after {
    content: "3";
    background-color: $color-yellow;
  }
}

.rate-all__item-text {
  font-family: $font;
  font-weight: 300;
  font-style: normal;
  line-height: 1.38;
  font-size: 16px;
  letter-spacing: 0.022px;
  color: $color-text-gray;
  list-style: none;
  border-top: 1px solid $color-text-gray;
  opacity: 0.5;
  padding-top: 12px;
  width: 200px;
}

.rate-all__item-cost {
  font-family: $font;
  font-weight: 300;
  font-style: normal;
  line-height: 1.38;
  font-size: 16px;
  letter-spacing: 0.022px;
  color: $color-text-gray;
  list-style: none;
  margin-bottom: 10px;
}

.rate-all__link {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  font-size: 16px;
  color: $color-dark-blue;
  text-decoration: none;
  margin-top: 31px;
}

@media (min-width: 768px) {
  .rate-all {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .rate-all__caption {
    font-size: 45px;

    margin: 0;
    width: 100%;
    position: relative;
    margin-bottom: 46px;
    text-align: center;

    &::after {
      content: "";
      display: none;
      width: 99px;
      height: 99px;
      background-image: url("../../img/rates@1x.png");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      right: -204px;
      top: -17px;
    }
  }

  .rate-all__caption::after {

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/rates@2x.png");
    }
  }

  .rate-all__list {
    width: 688px;
  }

  .rate-all__item {
    font-size: 28px;
    display: flex;
    justify-content: flex-end;
    width: 562px;

    &--border {
      border-top: 1px solid $color-text-gray;
      opacity: 0.5;
      padding-top: 14px;
      padding-bottom: 14px;
    }

    &::after {
      left: 0;
      right: auto;
      padding: 16px 22px 15px 21px;
    }
  }

  .rate-all__item-text {
    text-align: start;
  }

  .rate-all__item-cost {
    border-top: 1px solid #444444;
    opacity: 0.5;
    padding-top: 14px;
    width: 200px;
    text-align: end;
  }

  .rate-all__link {
    font-size: 20px;
    margin-top: 31px;
    width: 100%;
    text-align: left;
    padding-left: 71px;
  }
}

@media (min-width: 1440px) {
  .rate-all {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .rate-all__caption {
    font-size: 45px;

    text-align: center;
  }

  .rate-all__list {
    width: 100%;
  }

  .rate-all__item {
    width: 100%;
    padding-left: 62px;
    justify-content: flex-start;

    &--border {
      border-top: 1px solid $color-text-gray;
      opacity: 0.5;
      padding-top: 14px;
      padding-bottom: 14px;
    }

    &::after {
      left: -20px;
      top: 1px;
      padding: 14px 27px 16px 26px;
      font-size: 28px;
    }
  }

  .rate-all__item-text {
    font-size: 28px;
    width: 406px;
  }

  .rate-all__item-cost {
    font-size: 28px;
    width: 406px;
  }

  .rate-all__link {
    font-size: 20px;
    margin-top: 31px;
    width: 100%;
    text-align: left;
    padding-left: 71px;
    color: $color-tarife;
  }
}
