.registrate {
  background-color: $color-dark-blue;
  padding-top: 129px;
  padding-bottom: 44px;
  z-index: 1;
  margin-top: -20px;
  &--border-radius {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.registrate__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.registrate__caption {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  font-size: 24px;
  letter-spacing: 0.024;
  color: $color-caption;

  margin: 0;
  width: 100%;
  text-align: center;
}

.registrate__text {
  font-family: $font;
  font-weight: 300;
  font-style: normal;
  line-height: 1.38;
  font-size: 16px;
  letter-spacing: 0.022;
  color: $color-white;

  width: 200px;
  text-align: center;
  margin-bottom: 32px;
}

.registrate__text-link {
  color: $color-yellow;
}

.registrate__email {
  font-family: $font;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.018;
  color: $color-text-contry;
  width: 270px;
  position: relative;
  z-index: 1;

  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  &::placeholder {
    color: $color-text-contry;
  }
  &--border-radius {
    border-radius: 10px;
  }
}

.registrate__question {
  font-family: $font;
  font-weight: 300;
  font-style: normal;
  line-height: 1.38;
  font-size: 16px;
  letter-spacing: 0.022;
  color: $color-white;

  width: 212px;
  text-align: center;
  margin-bottom: 20px;
}

.registrate__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.registrate__link-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.registrate__link {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  line-height: 1.38;
  font-size: 16px;
  letter-spacing: 0.022;
  color: $color-yellow;
  text-decoration: none;
  text-transform: uppercase;

  padding-left: 61px;
  margin-top: 16px;
  margin-bottom: 6px;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $color-blue-link;
    position: absolute;
    left: 0;
    top: -15px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:first-child::before {
    background-image: url("../../img/contacts-phone.svg");
  }
  &:last-child::before {
    background-image: url("../../img/contacts-mail.svg");
  }
}

.registrate__button {
  width: 66px;
  height: 74px;
  background: $color-yellow;
  border: none;
  border-radius: 10px;
  margin-left: -43px;
  z-index: 2;
}

@media (min-width: 768px) {
  .registrate {
    padding-top: 129px;
    padding-bottom: 62px;
  }

  .registrate__box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .registrate__caption {
    font-size: 45px;

  }

  .registrate__text {
    font-size: 28px;

    width: 606px;

  }

  .registrate__email {
    font-size: 24px;
    width: 536px;
    padding-top: 30px;
    padding-left: 35px;
    padding-bottom: 32px;
    &--border-radius {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .registrate__button {
    width: 82px;
    height: 92px;
    background: #ffd74b;
    border: none;
    border-radius: 10px;
    margin-left: 0;
    z-index: 2;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

  .registrate__question {
    font-size: 28px;

    width: 100%;
    margin-bottom: 66px;
  }

  .registrate__link {
    font-size: 28px;
    width: 100%;

    padding-left: 91px;
    margin-top: 23px;
    margin-bottom: 23px;
  }
}

@media (min-width: 1440px) {
  .registrate {
    padding-top: 129px;
    padding-bottom: 62px;
  }

  .registrate__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .registrate__email {
    font-size: 24px;
    display: block;
    width: 1100px;

    padding-top: 30px;
    padding-left: 35px;
    padding-bottom: 32px;
  }

  .registrate__question {
    font-size: 28px;

    width: 100%;
    margin-bottom: 66px;
  }

  .registrate__link {
    font-size: 28px;
    width: 305px;

    padding-left: 91px;
    margin-top: 23px;
    margin-bottom: 23px;
  }
}
