.tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 27px;
}

.tags__caption {
  font-family: $font;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 0.018;
  color: $color-text-blue;
  text-transform: uppercase;

  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.tags__text {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.022;
  color: $color-text-gray;

  padding-top: 26px;
  padding-left: 26px;
  padding-right: 33px;
  padding-bottom: 25px;
  margin: 0;
}
