.catalog {
  background-color: $bac-color-bissenes;
  &__item {
    background-color: $color-white;
  }

  &__caption {
    font-family: $font-bold;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.02;
    color: $color-btn;
  }

  &__about {
    font-family: $font-normal;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.018;
    color: $color-text-gray;
  }

  &__want {
    font-family: $font-normal;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.018;
    color: $color-text-gray;
  }

  &__link {
    font-family: $font-bold;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: 0.029;
    text-transform: uppercase;
  }

  &__still {
    font-family: $font-bold;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: 0.029;
    text-transform: uppercase;
  }
}

.contry-want {
  &__item {
    font-family: $font-med;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.018;
    text-transform: uppercase;
  }
}

.transport {
  font-family: $font-normal;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.018;
  color: $color-text-gray;
}
