.header-companion {
  background-color: $color-text-blue;
  &__caption {
    font-family: $font-bold;
    font-weight: 700;
    font-style: normal;
    line-height: 1.11;
    font-size: 36px;
    letter-spacing: 0.039;
    color: $color-white;
  }
}
