.header {
  background-color: $color-dark-blue;
}

.nav {
  background-color: $color-white;
}

.nav {
  &__item{
    font-family: $font-med;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.036;
  }
  &__link {
    font-family: $font-bold;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    letter-spacing: 0.029;
    text-decoration: none;
  }
}

.info {
  &__item{
    font-family: $font-bold;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: 0.022;
  }
}
