.main-footer {
  &__box {
    background-color: $color-yellow;
  }
  &__adress {
    font-family: $font-bold;
    font-weight: 700;
    font-style: normal;
    line-height: 1.38;
    font-size: 16px;
    letter-spacing: 0.022;
    color: $color-dark-blue;
  }
  &__adress-map {
    font-family: $font-bold;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    font-size: 18px;
    letter-spacing: 0.018;
    color: $color-dark-blue;
    text-decoration: none;
  }
}
