.plan {
  background-color: $bac-grey;
  &__caption {
    font-family: $font-bold;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.024;
    color: $color-btn;
  }
  &__item {
    background-color: $color-white;
  }
  &__item-caption {
    font-family: $font-bold;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.016;
    color: $color-btn;
  }
  &__text {
    font-family: $font-med;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.014;
    color: $color-btn;
  }
  &__change {
    font-family: $font-med;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.018;
  }
}
