.rate {
  background-color: $bac-color-bissenes;
}

.rate-all {
  background-color: $bac-color-bissenes;
  &__caption {
    font-family: $font-bold;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    font-size: 24px;
    letter-spacing: 0.024;
  }
  &__item {
    font-family: $font-lig;
    font-weight: 300;
    font-style: normal;
    line-height: 1.38;
    font-size: 16px;
    letter-spacing: 0.022;
    color: $color-text-gray;
  }
  &__link {
    font-family: $font-bold;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    font-size: 16px;
    color: $color-dark-blue;
    text-decoration: none;
  }
}

.rate-bissenes {
  background-color: $color-white;
  &__caption {
    font-family: $font-bold;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    font-size: 24px;
    letter-spacing: 0.024;
  }
  &__item {
    font-family: $font-lig;
    font-weight: 300;
    font-style: normal;
    line-height: 1.38;
    font-size: 16px;
    letter-spacing: 0.022;
    color: $color-text-gray;
  }
  &__link {
    font-family: $font-bold;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    font-size: 16px;
    color: $color-dark-blue;
    background-color: $window-close;
    text-decoration: none;
  }
}
